.sidebar{
    background-color:#040440
}
.wrapper{
    width:250px;
    position:relative;
    /* height:100%; */
}
.sidebar-menu{
    color : rgb(206, 200, 200);
}
.footer{
    width:210px;
    background-color: #2d2d69;
    position: absolute;
    bottom : -190px;
    left: 10px;
}

.right-content {
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    max-height: 100vh; /* Set a maximum height for the right content */
  }


.icon{
    width:20%;
}
.pic{
    width:100%;
}

.info{
    width:60%;
    font-size:10px
}
.right-content{
    background-color:#e4eaf3
}
.header-wrapper{
    position:relative;
}
.hand{
    width:20px;
}
.search-wrapper{
    width:200px;
    position:relative;
}
.search-icon{
    position: absolute;
    top:10px;
    left:20px;
}

.search{
    width:100%;
}

.card{
    /* height:500px; */
}
.circle{
    background-color:#dcffeb;
}
.circle1{
    background-color:#e7dbff;
}
.circle2{
    background-color:#ccf2ff;
}
.circle3{
    background-color:#feacd6;
}

.card-info{
    font-size:10px;
    padding:5px;
}

.card{
    border: 0;
}
#chartdiv {
    width: 100%;
    height: 500px;
  }

.right{
    width: 31%;
}


/* Styles for Small Screens (e.g., Mobile) */
@media only screen and (max-width: 575px) {
    .charts-container {
      display: flex;
      flex-direction: column;
    }
  
    .bar-container {
      width: 60%;
      margin: 10px 0;
    }
  
    .donut-container {
      width: 60%;
      margin-top: 10px;
      margin-left: 0 !important;
    }
  }
  
  /* Styles for Medium Screens (e.g., Tablets) */
  @media only screen and (min-width: 576px) and (max-width: 699px) {
    .charts-container {
      display: flex;
      flex-direction: column;
    }
  
    .bar-container {
      margin: 10px 0;
    }
  
    .donut-container {
      width: 60%;
      margin-top: 10px;
    }
  }
  

/* Styles for Large Screens (e.g., Desktop) */
@media only screen and(min-width: 992px) {}