.offcanvas-container {
  max-width: 200px; /* Adjust the width as needed */
  background-color: #040440 !important;
}

.offcanvas , .sidebar {
  width: 14rem !important;
  height:100vh;
  
}
.menu:hover{
  background-color:rgb(83, 107, 243);
}
.footer{
    background-color: #2d2d69;
    position: absolute;
    bottom : 10px;
    left: 10px;
}

.right-content {
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    max-height: 100vh; /* Set a maximum height for the right content */
  }
.offcanvas-btn{
  position:absolute;
  top:10px;
  left:50px;
}

.icon{
    width:20%;
}
.pic{
    width:100%;
}

.info{
    width:60%;
    font-size:10px
}
.right-content{
    background-color:#e4eaf3
}
.header-wrapper{
    position:relative;
}
.hand{
    width:20px;
}
.search-wrapper{
    width:200px;
    position:relative;
}
.search-icon{
    position: absolute;
    top:10px;
    left:20px;
}

.search{
    width:100%;
}

.top-cards{
    height:100px !important;
}

.charts-container{
  height:300px !important;
}
.bar-container, .donut-container{
  height:270px !important;
}


.bar-chart, .donut-chart{
  height:15rem !important;
}
.circle{
    background-color:#dcffeb;
}
.circle1{
    background-color:#e7dbff;
}
.circle2{
    background-color:#ccf2ff;
}
.circle3{
    background-color:#feacd6;
}

.card-info{
    font-size:10px;
    padding:5px;
}

.card{
    border: 0;
}
#chartdiv {
    width: 100%;
    height: 500px;
  }

.right{
    width: 31%;
}

.table{
  padding : 5px 5px !important;
}

/* Styles for Small Screens (e.g., Mobile) */
@media only screen and (max-width: 575px) {
  .top-cards{
    /* margin-top:30px !important; */
    width:400px !important; 
  }
  .charts-container {
    flex-direction: column;
  }
  
    .bar-container {
      width: 60%;
      margin: 10px 0;
    }
  
    .donut-container {
      width: 60%;
      margin-top: 10px;
      margin-left: 0 !important;
    }
    .menu-name , .pmanager, .position, .footer-arrow,.menu-right-arrow{
      display:none;
    }
    .footer{
      width:40px;
      height:40px;
    }
    .footer-pic{
      margin-left:5px;
      width:1.5rem;
    }
    .menu , .top-title{
      width:1rem;
    }
    .offcanvas , .sidebar, .offcanvas-container {
      width: 4rem !important;      
    }
    .product-header{
      display:flex;
      flex-direction:column;
      justify-content:center;
      margin:2px;
    }
  }
  
  /* Styles for Medium Screens (e.g., Tablets) */
  @media only screen and (min-width: 576px) and (max-width: 699px) {
   

    .bar-container {
      margin: 10px 0;
    }
  
    .donut-container {
      margin-top: 10px;
    }
    .menu-name, .pmanager, .position, .footer-arrow,.menu-right-arrow{
      display:none;
    }

    .menu , .top-title{
      width:1rem;
    }
    .offcanvas , .sidebar, .offcanvas-container {
      width: 4rem !important;      
    }

    .footer{
      width:40px;
      height:40px;
    }
    .footer-pic{
      margin-left:5px;
      width:1.5rem;
    }
  }
  

/* Styles for Large Screens (e.g., Desktop) */
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .menu-name, .pmanager, .position, .footer-arrow,.menu-right-arrow{
    display:none;
  }
  .menu , .top-title{
    width:1rem;
  }
  .offcanvas , .sidebar, .offcanvas-container {
    width: 4rem !important;      
  }

  .footer{
    width:40px;
    height:40px;
  }
  .footer-pic{
    margin-left:5px;
    width:1.5rem;
  }
}

.wrapper {
    /* Your original styles for the sidebar */
    /* Add transition properties for smooth animation */
    transition: width 0.3s;
  }

 
  
  

  